
[Unit]
Description=Nitrogen
After=wm.target

[Service]
#Anders og Mari i gummibåt
#ExecStart=/usr/bin/nitrogen --set-zoom-fill /home/tor/Bilder/Anders/AndersOgMari0718.jpg
#Julebakgrunn med Tux
ExecStart=/usr/bin/nitrogen --set-scaled /home/tor/Bilder/Jul2_bakgr.jpe
#Anders, Mari og bikkjene
#ExecStart=/usr/bin/nitrogen --set-zoom-fill /home/tor/Bilder/ungene_skrivebordbakgrunn.jpg
#Ander og Mari på Mølen
#ExecStart=/usr/bin/nitrogen --set-zoom-fill /home/tor/Bilder/ungene_skrivebordbakgrunn2021sommer.jpg
[Install]
WantedBy=wm.target
